<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .completed{
            text-decoration: line-through;
            opacity:0.6;
        }
    </style>
    <!-- Vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- Firebase -->
    <script src="https://gstatic.com/firebasejs/4.2.0/firebase.js"></script>
    <!-- VueFire -->
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
</head>
<body>
    <div id="app">
        <h1>{{title}}</h1>
        <select v-model="status">
            <option value="all">전체보기</option>
            <option value="active">할일</option>
            <option value="completed">한일</option>
        </select>
        <input type="text" v-model="newTodo" @keyup.enter="addTodo">
        <li v-for="todo in todosByStatus()" v-bind:class="{completed:todo.completed}" v-bind:key="todo.id">
            <input type="checkbox" v-model="todo.completed" @change="updateTodo(todo)">
            {{todo.content}}
            <button @click="deleteTodo">삭제</button>
        </li>
    </div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script>
        var config = {
            apiKey: "AIzaSyAS1Ufp4wI6yjYdJ3hPgmsM4jYmYU_e_g0",
            databaseURL: "https://my-todo-c5e42.firebaseio.com",
            projectId: "my-todo-c5e42",
        };
        firebase.initializeApp(config);

        const database = firebase.database()

        const app = new Vue({
            el:"#app",
            data:{
                title:"MyToDo",
                // todos:todosStorage.fetch(),
                newTodo:'',
                status:'all',
            },
            firebase:{
                todos:database.ref('todos')
            },
            methods:{
                addTodo:function(){
                    this.$firebaseRefs.todos.push(
                        {id:Date.now(), content:this.newTodo, completed:false}
                    )
                    this.newTodo=''
                },
                deleteTodo:function(){
                    
                },
                todosByStatus:function(){
                    if(this.status=="active"){
                        return this.todos.filter((todo)=>{
                            return !todo.completed
                        })
                    }else if(this.status=="completed"){
                        return this.todos.filter((todo)=>{
                            return todo.completed
                        })
                    }else{
                        return this.todos
                    }
                },
                updateTodo:function(todo){
                    const editTodo={...todo}
                    delete editTodo['.key']
                    this.$firebaseRefs.todos.child(todo['.key']).set(editTodo)
                },
                deleteTodo:function(todo){
                    
                }
            },
            watch:{
                todos:{
                    handler:function(todos){
                        todoStorage.save(todos)
                    },
                    deep:true
                }
                
            }
        })
    </script>
</body>
</html>
